<footer class="footer text-center bg-black text-white  mt-2">
  <div> &copy; {{ "now"|date("Y") }} - Tous les droits réservés. Développement et design de <a class="text-white" href="https://duneoo.net">Duneoo</a>.</div>
  <div><a class="text-white" href="{{ path('app_page_mentions_legales') }}">Mentions légales</a> - <a class="text-white" href="{{ path('app_page_confidentialite') }}">Politique de confidentialité</a> - <a class="text-white" href="{{ path('app_page_cgv') }}">CGV</a></div> 
   
</footer>