{% extends 'base.html.twig' %}

{% block title %}Hello PhotoController!{% endblock %}

{% block body %}
    <h1>Ajouter les photos d'un licencié</h1>
    
        {{ form_start(formAddPhoto) }}
            {{ form_widget(formAddPhoto) }}
            <input type="submit" value="Ajouter" />
        {{ form_end(formAddPhoto) }}

{% endblock %}
